* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding: 60px 120px 0px 120px;
}

.nav-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.nav-li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 34px;
}

.nav-li a {
    text-decoration: none;

    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

/* banner section */

.banner-container {
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position-x: 91%;
    background-position-y: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 115px 120px 0px 120px;
}

.banner-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 16px;
    /* 134.615% */
}

.banner-btn {
    border-radius: 41px;
    background-color: #E02C6D;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}



.banner-description {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 16px;
}

/* Sponsor section */

.sponsors {
    padding-top: 70px;
}

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* border-top: 1px solid #C0CCDA; */
}



@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-title {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .nav-li {
        flex-direction: column;
    }

    /* banner section */

    .banner-container {
        flex-direction: column-reverse;
        background-position-x: center;
        background-position-y: top;
        background-size: 75%;
        padding: 22px 21px 51px 18px;
        margin-top: 34px;
    }

    .banner-title {
        color: #3A3A3A;
        font-size: 28px;
        font-weight: 700;
    }

    .banner-description {
        color: #3A3A3A;
        font-family: Poppins;
        font-size: 14px;
    }

    .banner-info {
        text-align: center;
    }

    .banner-img img {
        width: 80%;
    }

    /* .sponsor container section */

    .sponsor-container {
        flex-wrap: wrap;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 34px;
    }

    .banner-container {
        padding: 20px;

    }
}