* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding: 60px 120px 0px 120px;
}

.nav-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.nav-li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 34px;
}

.nav-li a {
    text-decoration: none;

    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

/* banner section */

.banner-container {
    background-image: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-position-x: 91%;
    background-position-y: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 115px 120px 0px 120px;
}

.banner-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    padding-bottom: 16px;
    /* 134.615% */
}

.banner-btn {
    border-radius: 41px;
    background-color: #E02C6D;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px 10px 24px;
    cursor: pointer;
}



.banner-description {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 16px;
}

/* Sponsor section */

.sponsors {
    padding-top: 70px;
}

.sponsor-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* border-top: 1px solid #C0CCDA; */
}

/* popular section */

.cards-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cards-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    padding-bottom: 30px;
    /* 250% */
}

.card-title {
    color: #18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 16px;
    padding-bottom: 6px;
    /* 142.857% */
}

.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    /* 36px */
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.rating-container p {
    margin-left: 10px;
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    /* 157.143% */
    letter-spacing: 0.1px;
}

p {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    /* 20.02px */
    letter-spacing: 0.252px;
}


.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 15px 17px 14px;
}

.popular-btn {
    text-align: center;
    padding-top: 50px;
}

/* feature section */
.feature {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 96px;
}

.feature-title {
    color: #0A0826;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    /* 157.895% */
}

.feature-description {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 16px;
    /* 175% */
}

.feature-btn {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    background-color: #E02C6D;
    border: none;
    margin-top: 16px;
}

/* footer section */
footer {
    width: 100%;
    background-color: #0a0826;
    margin-top: 100px;
    padding-bottom: 50px;
}

.footer-container {
    text-align: center;
}

.footer-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 3px;
}

.footer-description {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    /* 171.429% */
}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-top: 17px;
}



@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-title {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .nav-li {
        flex-direction: column;
    }

    /* banner section */

    .banner-container {
        flex-direction: column-reverse;
        background-position-x: center;
        background-position-y: top;
        background-size: 75%;
        padding: 22px 21px 51px 18px;
        margin-top: 34px;
    }

    .banner-title {
        color: #3A3A3A;
        font-size: 28px;
        font-weight: 700;
    }

    .banner-description {
        color: #3A3A3A;
        font-family: Poppins;
        font-size: 14px;
    }

    .banner-info {
        text-align: center;
    }

    .banner-img img {
        width: 80%;
    }

    /* .sponsor container section */

    .sponsor-container {
        flex-wrap: wrap;
        gap: 30px;
    }

    .popular-btn {
        text-align: center;
    }

    /* feature section */

    .feature {
        width: 100%;
    }

    .feature-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    .feature-title {
        font-size: 24px;
    }
}

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 34px;
    }

    .banner-container {
        padding: 20px;

    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .popular-btn {
        text-align: center;
    }

}